.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@page {     
  margin-top: 1cm;
  margin-bottom: 1cm;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen
{
    .noPrint{}
    .noScreen{display:none;}
}

@media print
{
    .noPrint{display:none;}
    .noScreen{}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2, h3, p {
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px lightgray solid;
  padding: 6px;
  text-align: center;
}

th{
  border: 1px lightgray solid;
  padding: 6px;
  text-align: center;
}


p > * {
  display: inline-block;
}

p > *:first-child {
  margin-right: 1.0rem;
}

.warning_group > * {
  display: inline-block;
  text-align: center;
  width: 1.5rem;
  padding: 0.2rem;
}

.warning_group > *:nth-child(1) {
  background-color: yellow;
}

.warning_group > *:nth-child(2) {
  background-color: orange;
}

.warning_group > *:nth-child(3) {
  background-color: red;
}

.alert_cell {
  background-color: yellow;
  color: black;
  text-align: center;
  width: 15%
}

.alarm_cell {
  background-color: orange;
  color: black;
  text-align: center;
  width: 15%
}
.action_cell {
  background-color: rgba(255, 0, 0, 0.750);
  color: black;
  text-align: center;
  width: 15%
}
.preset_level {
  text-align: center;
  display: inline-block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;
  width: 2.5rem;
}

.alert_level {
  background-color: yellow;
}

.alarm_level {
  background-color: orange;
}

.action_level {
  background-color: red;
}

.device_name {
  text-align: left;
}

.time-label {
  color: grey;
  font-style: italic;
  /* margin-left: 1rem; */
}

.section-padding {
  display: block;
  margin-bottom: 4rem;
}