html {
  -webkit-print-color-adjust: exact;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Helvetica;
  font-weight: 400;
  margin: 10px 0;
}


h1 {
  color: black;
  font-family: Helvetica;
  font-size: 350%;
  text-align: left;
  padding: 0px;
}

h2 {
  color: black;
  font-size: 180%;
}

h3 {
  color: blue;
  font-size: 120%;
}

.heading_2{
  background-color: rgb(219, 219, 219);
}


#para_cover {
  color: black;
  font-family: Helvetica;
  font-size: 150%;
}

#para_cover_note {
  color: rgba(90, 90, 90, 0.651);
  font-family: Helvetica;
  font-size: 100%;
  text-align: right;
}

#para_remark {
  color: black;
  font-size: 100%;
  margin: 5px 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
